@model Upgrade_az.Models.CourseDetail.Course

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container w-75">
    <div class="d-flex justify-content-center">
        <h1>Edit Course</h1>
    </div>
    <div class="row">
        <div class="col-lg-12 m-3">
            <form method="post" enctype="multipart/form-data">
                <input asp-for="Photo" type="hidden" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Text" class="control-label"></label>
                    <textarea asp-for="Text" class="form-control"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InstructorId" class="control-label"></label>
                    <select asp-for="InstructorId" class="form-control" asp-items="@ViewBag.Instructors"></select>
                    <span asp-validation-for="InstructorId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Categories"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="row mb-3" >
                    <div class="col-lg-8">
                        <div class="wrapper">
                            <div class="upload-container">
                                <div class="border-container">
                                    <div class="icons fa-4x">
                                        <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
                                        <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                                        <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
                                    </div>
                                    <input style="height:38px;" type="file" asp-for="Upload" class="form-control" />
                                    <span asp-validation-for="Upload" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <img class="image-preview img-fluid" src="~/uploads/@Model.Photo" />
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary mt-5">Edit</button>
                <a class="btn btn-danger" asp-action="index" role="button">Back to List</a>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/js/upload.js"></script>
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('Text');
            $("#Upload").change(function () {

                var file = this.files[0]

                var fileReader = new FileReader();

                fileReader.onload = function (e) {
                    $(".image-preview").attr("src", e.target.result);
                };
                fileReader.readAsDataURL(file, "UTF-8");
            });
        });
    </script>
}

@section Head{
    <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
}


